@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');
*{
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
:root{
  --item-color: #3e3e3e;
  --text-color: #ebe4e4;
}
h1{
    position: relative;
    left: 45%;
}
button{
    padding: 10px;
    margin: 10px; 
    border: #3e3e3e;
    border-radius: 5%;
}
body{
    display: inline;
}
img{
    margin: 20px;
    padding: 20px;
}
input{
    pointer-events: none;
    cursor: none;
}

.pictures{

    display: flex;
}

.color-brown{
    display: inline;
    height: auto;
    width: 400px;
    color: #3e3e3e;
    background-color: brown;
}

.color-green{
    background-color: green;
}

.color-blue{
    background-color: blue;
}
